
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Оформление заказа";
}

    <div>
        <h4><b>Оформление заказа</b></h4>
        <br />
        <br />
        <p><b>Номер заказа</b></p>
        <p>13665335635434</p>
        <p><b>Адрес доставки</b></p>
        @Html.TextBox("Label", "Введите адрес...")
        <br />
        <br />
        <p><b>Получатель</b></p>
        @Html.TextBox("Label", "Введите ФИО получателя заказа...")
        <br />
        <br />
        <p><b>Способ оплаты</b></p>
        @Html.TextBox("Label", "Выберите способ оплаты...")
        <br />
        <br />
        <p><b>Общая сумма заказа</b></p>
        <p>20 220 руб</p>
        <br />
        <br />
        <p><b><input type="submit" value="Перейти к оплате" /></b></p>
    </div>

