
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Вход";
}

    <div>
        <h4><b>Вход на MyShop</b></h4>
        <br />
        <h5>Пожалуйста, введите логин и пароль для входа на сайт или пройдите регистрацию, если у Вас еще нет аккаунта.</h5>
        <h5><b>Логин</b></h5>
        @Html.TextBox("Логин")
        <h5><b>Пароль</b></h5>
        @Html.TextBox("Пароль")
        <br />
        <p><input type="submit" value="Войти" /></p>
        <br />
        <a href="Registration"><b>Регистрация</b></a>
        <br />
        <a href="PasswordRecovery"><b>Забыли пароль?</b></a>
    </div>
  



