
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Главная";
}

    <div>
        <h3>Добро пожаловать в My Super Shop! Удачных покупок!</h3>
        <br />
        <br />
        <h4><b>Навигация по сайту</b></h4>
        <br />
        <br />
        <a href="/PersonalData/PersonalArea"><p>Личный кабинет</p></a>
        <a href="/ProductsData/ProductsCatalog"><p>Каталог товаров</p></a>
        <a><p>О магазине</p></a>
    </div>

