
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Главная";
}


<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div>
        <h3>Добро пожаловать в My Super Shop! Удачных покупок!</h3>
        <br />
        <br />
        <h4>Навигация по сайту</h4>
        <br />
        <br />
        <a><p>Личный кабинет</p></a>
        <a><p>Каталог товаров</p></a>
        <a><p>О магазине</p></a>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
</body>
</html>
