
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Восстановление пароля";
}

    <div>
        <h4><b>Восстановление пароля</b></h4>
        <p>
            Если вы забыли пароль для входа на сайт, введите номер телефона
            или адрес электронной почты для восстановления пароля и нажмите
            кнопку "Получить пароль".
        </p>
        @Html.TextBox("Номер телефона", "Введите номер телефона или email...")
        <br />
        <br />
        <p><input type="submit" value="Получить пароль" /></p>
    </div>

