
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Каталог товаров";
}

    <div>
        <h4><b>Каталог товаров</b></h4>
        <br />
        <br />
        @foreach (WebApp.Models.ProductsData.CategoryDTO category in @Model)
        {
            <a><b>@category.Category</b></a>
            <br />
            <br />
        }
    </div>
    
