
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Личный кабинет";
}
<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div>
        <h4><b>Личный кабинет</b></h4>
        <br />
        <br />
        <p><b>Фамилия: </b></p>
        <p>Бурмистров</p>
        <p><b>Имя:</b></p>
        <p>Сергей</p>
        <p><b>Отчество</b>: </p>
        <p>Борисович</p>
        <p><b>Дата рождения</b>: </p>
        <p>27.04.1988</p>
        <p><b>Телефон:</b></p>
        <p>+7(919)-825-47-70</p>
        <p><b>Email:</b></p>
        <p>bsb1988@gmail.com</p><br />
        <p><input type="submit" value="Редактировать данные" /></p>
        <a><p>Посмотреть историю заказов</p></a>
        <a><p>Посмотреть состояние текущего заказа</p></a>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
</body>
</html>



